body {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  max-width: 600px;
  margin: 0px auto;
}

h2 {
  margin: 1px 0;
}

header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#source-link {
  position: absolute;
  right: 1em;
  top: 0.5em;
}

.correct,
.present,
.absent {
  color: #fff !important;
}

.correct {
  background-color: #6aaa64 !important;
}

.present {
  background-color: #c9b458 !important;
}

.absent {
  background-color: #787c7e !important;
}
