
<script setup lang="ts">
const props = defineProps({
  answer: String
})
</script>
    <template>
<div class="modal-mask"  id="modal" @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">

              <p>Паляниця аналог гри WORDLE</p>  
              <p>У вас є 8 спроб для того,
              щоб вгадати слово від 5 до 7 літер.
              </p>
              <p>
              Автор оригінальної гри: Джош Вордл. <a href="https://www.powerlanguage.co.uk/wordle/">WORDLE</a>
              </p>
              <p>
              Форк з  <a href="https://github.com/yyx990803/vue-wordle">https://github.com/yyx990803/vue-wordle</a>
              </p>
              <div>
                <p><strong>Приклади</strong></p>
                <div class="example">
                  <div class="row">
                  <div class="tile filled revealed">
                    <div class="front">Б</div>
                    <div class="back correct">Б</div>
                  </div>
                  <div class="tile filled revealed">
                    <div class="front">У</div>
                    <div class="back absent">У</div>
                  </div>

                  <div class="tile filled revealed">
                    <div class="front">Р</div>
                    <div class="back absent">Р</div>
                  </div>

                  <div class="tile filled revealed">
                    <div class="front">Я</div>
                    <div class="back absent">Я</div>
                  </div>

                  <div class="tile filled revealed">
                    <div class="front">К</div>
                    <div class="back absent">К</div>
                  </div>


                  <div class="tile filled revealed">
                    <div class="front"></div>
                    <div class="back"></div>
                  </div>

                  <div class="tile filled revealed">
                    <div class="front"></div>
                    <div class="back"></div>
                  </div>

                  </div>
                  <p>Буква <strong>Б</strong> є в слові і знаходиться на правильному місці.</p>
                </div>
            <div class="example">
                  <div class="row">
                  <div class="tile filled revealed">
                    <div class="front">С</div>
                    <div class="back absent">С</div>
                  </div>
                  <div class="tile filled revealed">
                    <div class="front">М</div>
                    <div class="back absent">М</div>
                  </div>

                  <div class="tile filled revealed">
                    <div class="front">Е</div>
                    <div class="back present">Е</div>
                  </div>

                  <div class="tile filled revealed">
                    <div class="front">Т</div>
                    <div class="back absent">Т</div>
                  </div>

                  <div class="tile filled revealed">
                    
                    <div class="back absent">А</div>
                  </div>


                  <div class="tile filled revealed">
                    <div class="front">Н</div>
                    <div class="back  absent">Н</div>
                  </div>

                  <div class="tile filled revealed">
                    <div class="front">А</div>
                    <div class="back  absent">А</div>
                  </div>

                  </div>
                  <p>Буква <strong>Е</strong> є в слові  але знаходиться на іншому місці.</p>
                </div>
                <div class="example">
                  <div class="row">
                  <div class="tile filled">
                    <div class="front">К</div>
                    
                  </div>
                  <div class="tile filled ">
                    <div class="front">Р</div>
                    
                  </div>

                  <div class="tile filled ">
                    <div class="front">У</div>
                    
                  </div>

                  <div class="tile filled">
                    <div class="front">П</div>
                    
                  </div>

                  <div class="tile filled revealed">
                    <div class="front">А</div>
                    <div class="back  absent">А</div>
                  </div>

                  </div>
                  <p>Букви <strong> К </strong> зовсім немає у слові.</p>
                </div>
                <hr>
                 кількість букв у відповіді: {{ answer.length }}
              </div>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              
            </slot>
          </div>
        </div>
      </div>
    </div>    </template>
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 400px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
  text-align: left;
}
.modal-footer{
    text-align: center;
}
.modal-default-button {
  display: block;
  margin-top: 1rem;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.5s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}


.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}
.tile {
  width: 52px;
  height: 52px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  user-select: none;
  position: relative;
}
.tile .front,
.tile .back {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.tile .front {
  border: 2px solid #ccc;
}
.tile .back {
  transform: rotateX(180deg);
}
.tile.filled .front {
  border-color: #999;
}
.tile.filled {
  animation: zoom 0.2s;
}
.tile:not(.empty) {
  border: none;
}
.tile.revealed .front {
  transform: rotateX(180deg);
}
.tile.revealed .back {
  transform: rotateX(0deg);
}

</style>