<script setup lang="ts">
import Keyboard from './Keyboard.vue';
import { LetterState } from './types';
import { answers, allWords } from './words';
const letterStates: Record<string, LetterState> = $ref({});
class Tile {
  letter = ' ';
  state = LetterState.INITIAL;
}
let shakeRowIndex = $ref(-1);
let message = $ref('');
const currentRow = $ref(  Array.from({ length: 7 }, () => new Tile()))

const now = new Date();
const start = new Date(2022, 0, 0);
const diff = Number(now) - Number(start);
let day = Math.floor(diff / (1000 * 60 * 60 * 24)) * 26;
while (day > allWords.length) {
  day -= allWords.length;
}
let answer = allWords[day];
let answerList=[answer];
for (let index = day; index < day+3200; index=index+2) {
    answerList.push( allWords[index]);
    
}
function onKey4Friend(key: string) {
  
  if (/^[абвгґдеєжзиіїйклмнопрстуфхцчшщьюя']$/.test(key)) {
    fillTile(key);
  } else if (key === 'Backspace') {
    clearTile();
  } else if (key === 'Enter') {
    completeRow();
  }
}

function fillTile(letter: string) {
  for (const tile of currentRow) {
    if (tile.letter == ' ') {
      tile.letter = letter;
      break;
    }
  }
}

function clearTile() {
  for (const tile of [...currentRow].reverse()) {
    if (tile.letter != ' ') {
      tile.letter = ' ';
      break;
    }
  }
}
function completeRow(){
    if (currentRow.every((tile) => tile.letter)) {
    const guess = currentRow
      .map((tile) => tile.letter)
      .join('')
      .trim();

    if (!allWords.includes(guess)) {
      shake();
      showMessage(`Not in word list`);
      return;
    }

    currentRow.forEach((tile, i) => {
        if(tile.letter!=' ')
            tile.state =  LetterState.CORRECT;
        
      
    });
    }
}
function showMessage(msg: string, time = 1000) {
  message = msg;
  if (time > 0) {
    setTimeout(() => {
      message = '';
    }, time);
  }
}

function shake() {
  shakeRowIndex = 0;
  setTimeout(() => {
    shakeRowIndex = -1;
  }, 1000);
}

function copyLink(){
    const guess = currentRow
      .map((tile) => tile.letter)
      .join('')
      .trim();
  if(guess.length<4) return;
  if (!allWords.includes(guess)) return;
  let str='Вгадай слово';
  str += "\n";

  str = 'https://palyanytsya.github.io/?friendWord=';
  str += utf8_to_b64(guess);

  navigator.clipboard.writeText(str);
  showMessage("Скопійовано",2000);
}

function utf8_to_b64(str: string) {
  return window.btoa(unescape(encodeURIComponent(str)));
}
</script>
<template>
   
   <div v-for="(word, index) in answerList">{{word}}</div>

    <div class="modal-mask"  id="modal" @click="$emit('close')">
      <div class="modal-wrapper">
        <div class="modal-container">
            <Transition>
                <div class="message" v-if="message">{{ message }}</div>
            </Transition>

          <div class="modal-header">
            <slot name="header">
             <h2> Загадай слово для друга</h2>
            </slot>
          </div>

          <div class="modal-body" @click.stop="">

    <div class="row" :class="{ shake: shakeRowIndex === index }">        
      <div
        v-for="(tile, index) in currentRow"
        :class="[
          'tile',
          tile.letter ? 'filled' : 'empty',
          tile.state && 'revealed',
        ]"
      >
        <div class="front" :style="{ transitionDelay: `${index * 200}ms` }">{{ tile.letter }}</div>
        <div
          :class="['back', tile.state]"
          :style="{ transitionDelay: `${index * 200}ms` }"
        >{{ tile.letter }}</div>
      
    </div>
    </div>
  
            <Keyboard @key="onKey4Friend" :letter-states="letterStates" />
          </div>

          <div class="modal-footer">
          <button @click.stop="copyLink">Скопіювати лінк для друга</button>
          </div>
        </div>
      </div>
    </div>    </template>
<style scoped>

.message {
  position: absolute;
  left: 50%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 16px 20px;
  z-index: 2;
  border-radius: 8px;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-out;
}
.message.v-leave-to {
  opacity: 0;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 400px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
  text-align: left;
}
.modal-footer{
    text-align: center;
}
.modal-default-button {
  display: block;
  margin-top: 1rem;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.5s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}


.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}
.tile {
  width: 52px;
  height: 52px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  user-select: none;
  position: relative;
}
.tile .front,
.tile .back {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.tile .front {
  border: 2px solid #ccc;
}
.tile .back {
  transform: rotateX(180deg);
}
.tile.filled .front {
  border-color: #999;
}
.tile.filled {
  animation: zoom 0.2s;
}
.tile:not(.empty) {
  border: none;
}
.tile.revealed .front {
  transform: rotateX(180deg);
}
.tile.revealed .back {
  transform: rotateX(0deg);
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px);
  }
  10% {
    transform: translate(-2px);
  }
  20% {
    transform: translate(2px);
  }
  30% {
    transform: translate(-2px);
  }
  40% {
    transform: translate(2px);
  }
  50% {
    transform: translate(-2px);
  }
  60% {
    transform: translate(2px);
  }
  70% {
    transform: translate(-2px);
  }
  80% {
    transform: translate(2px);
  }
  90% {
    transform: translate(-2px);
  }
  100% {
    transform: translate(1px);
  }
}

button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 15px;
  margin: 0 6px 0 0;
  height: 52px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: #6aaa64;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
</style>